{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "tlsn-js": "@bring-id/tlsn-js"
      },
      "extensions": [".js", ".ts", ".jsx", ".tsx"]
    }]
  ]
}